<style>
    .explorador {
        margin: 20px;
        padding: 20px;
        min-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: stretch;
        width: fit-content;
        background-color: lightyellow;
    }
    .explorador > * {
        width: 100%;
    }
    .explorador input[type="text"] {
        background-color: rgba(0,0,0,0);
        border: none;
        border-bottom: 1px solid black;
    }
    .toolbar {
        display: flex;
        flex-direction: row;
        gap: 10px
    }
    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .conteudo > div {
        height: 40px;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-left: 20px;
    }
    .conteudo > div.selecionado {
        background-color: lightcyan;
    }
    .conteudo > div:hover {
        background-color: lightblue;
    }
</style>
<div class="explorador">
    <form (submit)="alterarCaminho()">
        <div style="display: grid; grid-template-columns: 0fr 1fr; gap: 10px;">
            <label for="inputCaminho">Caminho: </label>
            <input type="text" id="inputCaminho" [(ngModel)]="caminho" [ngModelOptions]="{standalone: true}">
        </div>
    </form>
    <div class="toolbar">
        <button [disabled]="selecao.size == 0" (click)="apagar()">apagar</button>
        <button (click)="selecionarTudo()">selecionar tudo</button>
        <button [disabled]="selecao.size != 1">renomear</button>
    </div>
    <div class="conteudo">
        <div *ngFor="let item of pegarPastas()" (click)="aoClicarItem(item)" [ngClass]="selecao.has(item) ? 'selecionado' : ''">
            {{item}}
        </div>
        <div *ngFor="let item of pegarAqruivos()" (click)="aoClicarItem(item)" [ngClass]="selecao.has(item) ? 'selecionado' : ''">
            {{item}}
        </div>
    </div>
    <div style="display: flex; justify-content: center;">
        <button *ngIf="!criandoNovaPasta; else formCriarPasta" (click)="criandoNovaPasta = true">nova pasta</button>
        <ng-template #formCriarPasta>
            <div style="display: flex; gap: 10px">
                <form (submit)="criarNovaPasta()" style="display: flex; gap: 10px">
                    <input type="text" [(ngModel)]="novaPasta" [ngModelOptions]="{standalone: true}">
                    <button type="submit" [disabled]="novaPastaInvalida()">Ok</button>
                </form>
                <button (click)="criandoNovaPasta = false; novaPasta = ''">Cancelar</button>
            </div>
        </ng-template>
    </div>
</div>

<!--
<router-outlet />
-->